.grid-container {
    display: grid;
    grid-template-columns: 1fr;
}

#loading-icon {
    position: fixed;
    top: 50%;
    left: 50%;
    animation: loading 1.5s linear infinite;
}

@keyframes loading {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

.page-padding {
    padding: 20px;
    padding-right: 20px;
}

.split {
    display: grid;
    width: 100vw;
    grid-template-columns: minmax(200px, 100vw);
    grid-template-rows: 400px;
    align-items: center;
}

@media (min-width: 600px) {
    :root {
        font-size: 13px;
    }
    .page-padding {
        padding-left: 20px;
    }
    .split {
        grid-template-columns: 20px 1fr 1fr;
        grid-template-areas: '. one two';

        > :first-child {
            grid-area: one;
        }

        > :nth-child(2) {
            grid-area: two;
        }
        .page-padding {
            padding-left: 0px;
        }
    }
}

@media (min-width: 800px) {
    :root {
        font-size: 14px;
    }
    .page-padding {
        padding-left: 72px;
        padding-right: 40px;
    }
    .split {
        grid-template-columns: 72px 1fr 1fr;
        grid-template-areas: '. one two';
        grid-template-rows: 400px;
    }
    #testimonial,
    #features > .feature-icons-container > .feature-icons-group {
        padding-right: 40px;
    }
}

@media (min-width: 1000px) {
    :root {
        font-size: 15px;
    }
    .page-padding {
        padding-left: 150px;
        padding-right: 50px;
    }
    .split {
        grid-template-columns: 150px 1fr 1fr;
        grid-template-rows: 500px;
    }
    #testimonial,
    #features > .feature-icons-container > .feature-icons-group {
        padding-right: 100px;
    }
}

@media (min-width: 1200px) {
    :root {
        font-size: 16px;
    }
    .page-padding {
        padding-left: 252px;
        padding-right: 75px;
    }
    .split {
        grid-template-columns: 252px 1fr 1fr;
        grid-template-rows: 550px;
    }
    #testimonial,
    #features > .feature-icons-container > .feature-icons-group {
        padding-right: 150px;
    }
}

@media (min-width: 1500px) {
    :root {
        font-size: 18px;
    }
}

@media (min-width: 1800px) {
    :root {
        font-size: 20px;
    }
}
