@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

:root {
    --color-button-purple: #ac5fd0;
    --color-button-orange: #ff7218;
    --color-font-purple: #613476;
    --color-font-h2-dark: #3e3e3e;
    --color-font-dark: #161616;
    --color-background-light-grey: #fafafa;

    font-size: 12px;
}

html {
    overflow-x: hidden;
    overflow-y: overlay;
    min-width: 330px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

@media (min-width: 600px) {
    html {
        overflow-x: hidden;
        overflow-y: overlay;
    }
    *::-webkit-scrollbar {
        width: 24px;
    }

    *::-webkit-scrollbar-track {
        background-color: transparent;
    }

    *::-webkit-scrollbar-thumb {
        background-color: #00000069;
        border-radius: 20px;
        border: 6px solid transparent;
        background-clip: content-box;
    }
    *::-webkit-scrollbar-thumb:hover {
        background-color: #000000a4;
    }

    * {
        scroll-behavior: smooth;
    }
}

// Shared classes

.custom-btn {
    color: white !important;
    border-radius: 0 !important;
    white-space: nowrap;
    width: 11rem;
    height: 3.5rem;
    border: none;
    font-size: 0.9rem;
    font-weight: 700;
    letter-spacing: 0.2ch;
}

.custom-btn:hover {
    background-color: #161616;
}

.content-detail-link {
    color: var(--color-font-purple);
}

.h2-font {
    font-weight: 700;
    font-size: 2.5rem;
}

.detail-font {
    color: var(--color-font-dark);
    font-size: 1rem;
    font-weight: 400;
    line-height: 22px;
}

.detail-link {
    color: var(--color-font-purple);
    font-weight: 700;
    font-size: 1.2rem;
    letter-spacing: 0.1ch;
    text-decoration: none;
}

.detail-link:hover {
    text-decoration: underline;
}

// Utility classes
