#banner2 {
    background-image: url('/assets/banner-2.jpg');
    height: 600px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 49%;
    .cta-container {
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        width: 50%;
        margin-left: 50%;

        h2 {
            color: var(--color-font-purple);
            font-size: 40px;
        }

        .custom-btn {
            background-color: var(--color-button-orange);
        }
    }
}
