.banner {
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;

    .cta-container {
        width: 50%;
        justify-content: center;
        gap: 20px;
        h2 {
            color: var(--color-font-purple);
        }
        .custom-btn {
            background-color: var(--color-button-orange);
        }
    }
}
