footer {
    justify-content: center;
    height: 152px;

    p {
        margin-bottom: 20px;
    }

    .follow-us-icon-group {
        display: flex;
        gap: 21.5px;
        * {
            stroke: var(--color-font-purple);
        }
    }
}
