header {
    background-image: url('/assets/hero.jpg');
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    animation: fadeIn 1s;

    @keyframes fadeIn {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }

    .hero-title-container {
        justify-content: center;
        height: calc(100% - 100px);

        h1 {
            font-size: 5rem;
            line-height: 5rem;
            font-weight: 800;
            -webkit-text-stroke: 1px white;
            -webkit-text-fill-color: transparent;
            white-space: nowrap;
        }
        p {
            font-size: 4rem;
            margin-top: 0.6rem;
            line-height: 4rem;
            letter-spacing: 0.35rem;
            font-weight: 700;
            white-space: nowrap;
            color: white;
        }
        .custom-btn {
            margin-top: 1.5rem;
            background-color: var(--color-button-purple);
        }
    }

    .logo {
        margin-left: 70px;
        margin-top: 33px;
        grid-column: 2/-1;
        width: 249px;
        height: 45px;
    }

    .more-arrow {
        position: absolute;
        left: calc(50% - 20px);
        bottom: 5px;
        fill: rgba(255, 255, 255, 0.5);
    }
}
