header {
    background-image: url('/assets/hero.jpg');
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    animation: fadeIn 1s;

    @keyframes fadeIn {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }

    h1 {
        font-size: 72px;
        line-height: 72px;
        font-weight: 800;
        -webkit-text-stroke: 1px white;
        -webkit-text-fill-color: transparent;
        white-space: nowrap;
    }

    p {
        font-size: 64px;
        margin-top: 10px;
        line-height: 64px;
        letter-spacing: 0.15ch;
        font-weight: 700;
        white-space: nowrap;
        color: white;
    }

    .logo {
        margin-top: 33px;
        grid-column: 2/-1;
        width: 249px;
        height: 45px;
    }

    .custom-btn {
        margin-top: 24px;
        background-color: var(--color-button-purple);
    }
    .more-arrow {
        position: absolute;
        left: calc(50% - 20px);
        bottom: 5px;
        fill: rgba(255, 255, 255, 0.5);
    }
}
